includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 9

    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
